{% extends 'base.html.twig' %}

{% block title %}Login | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-5 p-4 bg-light login-form">
            <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
            {% if error %}
                <p class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security')}}</p>
            {% endif %}
            <form method="post" action="{{ path('app_login') }}">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" placeholder="Enter email" id="email" name="email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" placeholder="Enter password" id="pwd" name="password" required>
                </div>
                {# the remember_me cookie is automatically added by the always_remember_me in security config #}
{#                <div class="form-group form-check">#}
{#                    <label class="form-check-label">#}
{#                        <input class="form-check-input" name="_remember_me" type="checkbox"> Remember me#}
{#                    </label>#}
{#                </div>#}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authentication') }}">
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </div>
    </div>
{% endblock %}
