{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron-img jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your Questions Answered</h1>
        <p class="lead">And even answers for those questions you didn't think to ask!</p>
    </div>
</div>
<div class="container">
    {% if is_granted('IS_VERIFIED') %}
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-question">Ask a Question</button>
            </div>
        </div>
    {% endif %}
    {#  Questions list  #}
    {% include 'question/questions_show.html.twig' with { questions: questions }%}
</div>
{% endblock %}

