<div id="question-partial-list" class="row js-question-partial-list" data-realtime_channel="{{ mercure(path('app_questions_partial_list')) }}">
    {% include 'question/_partial_list.html.twig' with { questions: questions } %}
</div>

