{% extends '/emails/base.html.twig' %}
{% block content %}
    <h1 class="text-center">Nice to meet you {{ user.firstName }}!</h1>
    <p class="block">
        Please <a href="{{ confirmation_link }}">Confirm your account</a>.
    </p>
    <p class="block">
        Or go directly to this URL: {{ confirmation_link }}
    </p>
{% endblock %}